<h1>REGISTER</h1>
<form [formGroup]="form" (ngSubmit)="onRegister()">
  <input type="text" placeholder="First Name" name="first_name" formControlName="first_name">
  <input type="text" placeholder="Last Name" name="last_name" formControlName="last_name">
  <input type="text" placeholder="Email" name="email" formControlName="email">
  <input type="text" placeholder="Password" name="password" formControlName="password">
  <input type="text" placeholder="Confirm Password" name="pwc">
  <div *ngIf="passConfirm">
    <p>{{passConfirm}}</p>
  </div>
  <input type="submit">
</form>